[submodule "AppProxyCap"]
	path = AppProxyCap
	url = https://github.com/freewizard/AppProxyCap.git
[submodule "OpenSSL-for-iPhone"]
	path = OpenSSL-for-iPhone
	url = https://github.com/clowwindy/OpenSSL-for-iPhone.git
[submodule "GCDWebServer"]
	path = GCDWebServer
	url = https://github.com/swisspol/GCDWebServer
[submodule "iProxy"]
	path = iProxy
	url = https://github.com/clowwindy/iProxy.git
[submodule "NSData-Base64"]
	path = NSData-Base64
	url = https://github.com/l4u/NSData-Base64.git
[submodule "GZIP"]
	path = GZIP
	url = https://github.com/nicklockwood/GZIP.git
[submodule "Masonry"]
	path = Masonry
	url = https://github.com/Masonry/Masonry.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
