[submodule "AppProxyCap"]
	path = AppProxyCap
	url = https://github.com/clowwindy/AppProxyCap
[submodule "OpenSSL-for-iPhone"]
	path = OpenSSL-for-iPhone
	url = git://github.com/clowwindy/OpenSSL-for-iPhone.git
[submodule "GCDWebServer"]
	path = GCDWebServer
	url = https://github.com/swisspol/GCDWebServer
[submodule "iProxy"]
	path = iProxy
	url = https://github.com/clowwindy/iProxy.git
