# daemonise = true
# scrubLogs = true
# socksProxyType = socks5
# logLevel = 0x07
chunkHighMark = 10000000
objectHighMark = 1024
diskCacheRoot = ""
localDocumentRoot = ""
idleTime = 1
disableLocalInterface = true
disableConfiguration = true
disableIndexing = true
dnsUseGethostbyname = yes
# socksParentProxy = 127.0.0.1:1080
# socksProxyType = socks5

# allowUnalignedRangeRequests boolean false Allow unaligned range requests (unreliable).
# allowedClients list (not set) Networks from which clients are allowed to connect.
# allowedPorts intlist 80-100, 1024-65535 Ports to which connections are allowed.
# alwaysAddNoTransform boolean false If true, add a no-transform directive to all requests.
# authCredentials atom (hidden) username:password.
# authRealm atom (none) Authentication realm.
# bigBufferSize integer 32768 Size of big buffers (max size of headers).
# cacheIsShared boolean true If false, ignore s-maxage and private.
# censorReferer tristate false Censor referer headers.
# censoredHeaders list (empty list) Headers to censor.
# chunkCriticalMark integer 24772608 Critical mark for chunk memory (0 = auto).
# chunkHighMark integer 25165824 High mark for chunk memory.
# chunkLowMark integer 18874368 Low mark for chunk memory (0 = auto).
# clientTimeout time 2m Client-side timeout.
# disableConfiguration boolean false Disable reconfiguring Polipo at runtime.
# disableIndexing boolean true Disable indexing of the local cache.
# disableLocalInterface boolean false Disable the local configuration pages.
# disableProxy boolean false Whether to be a web server only.
# disableServersList boolean true Disable the list of known servers.
# disableVia boolean true Don't use Via headers.
# diskCacheDirectoryPermissions integer 0700 Access rights for new directories.
# diskCacheFilePermissions integer 0600 Access rights for new cache files.
# diskCacheTruncateSize integer 1048576 Size to which on-disk objects are truncated.
# diskCacheTruncateTime time 4d12h Time after which on-disk objects are truncated.
# diskCacheUnlinkTime time 32d Time after which on-disk objects are removed.
# diskCacheWriteoutOnClose integer 32768 Number of bytes to write out eagerly.
# dnsGethostbynameTtl time 20m TTL for gethostbyname addresses.
# dnsMaxTimeout time 1m Max timeout for DNS queries.
# dnsNameServer atom 127.0.0.1 The name server to use.
# dnsNegativeTtl time 2m TTL for negative DNS replies with no TTL.
# dnsUseGethostbyname 4-state reluctantly Use the system resolver.
# dontCacheCookies boolean false Work around cachable cookies.
# dontCacheRedirects boolean false If true, don't cache redirects.
# dontTrustVaryETag tristate maybe Whether to trust the ETag when there's Vary.
# expectContinue tristate maybe Send Expect-Continue to servers.
# forbiddenFile atom (none) File specifying forbidden URLs.
# forbiddenRedirectCode integer 302 Redirect code, 301 or 302.
# forbiddenUrl atom (none) URL to which forbidden requests should be redirected.
# idleTime time 20s Time to remain idle before writing out.
# laxHttpParser boolean true Ignore unknown HTTP headers.
# logFacility atom user Syslog facility to use.
# logFile atom (none) Log file (stderr if empty and logSyslog is unset, /var/log/polipo if empty and daemonise is true).
# logFilePermissions integer 0640 Access rights of the logFile.
# logSyslog boolean false Log to syslog.
# maxAge time 14d1h Max age for objects without Expires header.
# maxAgeFraction float 0.100000 Fresh fraction of modification time.
# maxConnectionAge time 21m Maximum age of a server-side connection.
# maxConnectionRequests integer 400 Maximum number of requests on a server-side connection.
# maxDiskCacheEntrySize integer -1 Maximum size of objects cached on disk.
# maxDiskEntries integer 32 File descriptors used by the on-disk cache.
# maxExpiresAge time 30d1h Max age for objects with Expires header.
# maxNoModifiedAge time 23m Max age for objects without Last-modified.
# maxObjectsWhenIdle integer 32 Number of objects to write at a time when idle.
# maxPipelineTrain integer 10 Maximum number of requests pipelined at a time.
# maxSideBuffering integer 1500 Maximum buffering for PUT and POST requests.
# maxWriteoutWhenIdle integer 65536 Amount of data to write at a time when idle.
# mindlesslyCacheVary boolean false If true, mindlessly cache negotiated objects.
# objectHashTableSize integer 32768 Size of the object hash table (0 = auto).
# objectHighMark integer 2048 High object count mark.
# parentAuthCredentials atom (hidden) username:password.
# parentProxy atom (none) Parent proxy (host:port).
# pidFile atom (none) File with pid of running daemon.
# pipelineAdditionalRequests tristate maybe Pipeline requests on an active connection.
# pmmFirstSize integer 0 The size of the first PMM chunk.
# pmmSize integer 0 The size of a PMM chunk.
# preciseExpiry boolean false Whether to consider all files for purging.
# proxyAddress atom 127.0.0.1 The IP address on which the proxy listens.
# proxyName atom shodan.local The name by which the proxy is known.
# proxyOffline boolean false Avoid contacting remote servers.
# proxyPort integer 8123 The TCP port on which the proxy listens.
# publicObjectLowMark integer 1024 Low object count mark (0 = auto).
# redirector atom (none) Squid-style redirector.
# redirectorRedirectCode integer 302 Redirect code to use with redirector.
# relaxTransparency tristate false Avoid contacting remote servers.
# replyUnpipelineSize integer 1048576 Size for a pipeline break.
# replyUnpipelineTime time 20s Estimated time for a pipeline break.
# serverExpireTime time 1d Time during which server data is valid.
# serverIdleTimeout time 45s Server-side idle timeout.
# serverMaxSlots integer 8 Maximum number of connections per broken server.
# serverSlots integer 2 Maximum number of connections per server.
# serverSlots1 integer 4 Maximum number of connections per HTTP/1.0 server.
# serverTimeout time 1m30s Server-side timeout.
# smallRequestTime time 10s Estimated time for a small request.
# socksParentProxy atom (none) SOCKS parent proxy (host:port)
# socksUserName atom (empty) SOCKS4a user name
# tunnelAllowedPorts intlist 22, 80, 109-110, 143, 443, 873, 993, 995, 2401, 5222-5223, 9418 Ports to which tunnelled connections are allowed.
# uncachableFile atom (none) File specifying uncachable URLs.